/* css style of world-cup html elements */

/* use font family Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Defining some useful colors from figma design */
:root {
    --body-background-color: #f1f1f1;
    --header-background-color: #56042C;
    --button-color: #DD0000;
    --text-color-white: #FFFFFF;
    --text-color-black: #161616;
    --text-color-gray: #161616B2;
}

/* assigning all elements having no margin or padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* banner area */
@keyframes banner-color-change {
    from {
        background-color: var(--header-background-color);
    }

    to {
        background-color: #161616;
    }
}

.banner-area {
    background-color: var(--header-background-color);
    border-radius: 16px;
    width: 90%;
    margin: 32px auto;
    padding: 0 24px;
    display: flex;
    align-items: flex-end;
    animation: banner-color-change;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.banner {
    width: 50%;
    margin: 56px;
    padding: 32px;
}

.banner-title {
    width: 100%;
    color: var(--text-color-white);
    font-size: 70px;
    font-weight: 700;
    margin: 16px 0;
    padding: 16px;
    line-height: 80px;
}

.banner-para {
    width: 100%;
    color: var(--text-color-white);
    font-size: 16px;
    font-weight: 400;
    margin: 16px 0;
    padding: 16px;
}

.banner-btn {
    color: var(--text-color-white);
    font-size: 20px;
    font-weight: 400;
    margin: 16px;
    padding: 16px;
    text-decoration: none;
    background-color: var(--button-color);
    border-radius: 12px;
    /* transition: color 2s, background-color 2s; */
}

.banner-btn:hover {
    color: #161616;
    background-color: #E8E8E8;
}

.banner-img {
    width: 50%;
}

.banner-img img {
    width: 100%;
    transition: transform 2s ease-in-out;
}

.banner-img img:hover {
    transform: translate(-16px, -16px);
}

/* blogs-area */
.blogs-area {
    display: grid;
    grid-template-columns: 300px auto;
    justify-content: space-between;
    width: 90%;
    margin: 32px auto;
    align-items: start;
    justify-items: start;
}

.blogs-grid,
.match-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px 24px;
}

.options {
    background-color: var(--header-background-color);
    border-radius: 8px;
}

.options .active {
    background-color: var(--button-color);
    color: var(--text-color-white);
}

.options a {
    display: block;
    margin: 16px;
    padding: 12px 24px;
    border-radius: 8px;
    color: var(--text-color-black);
    background-color: var(--body-background-color);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

.options a:hover {
    color: var(--body-background-color);
    background-color: var(--text-color-black);
}

.single-blog {
    border: 1px solid #E8E8E8;
    border-radius: 8px;
}

.single-blog .match .flags {
    padding: 8px;
    width: 33%;
}

.single-blog .blog-img {
    width: 100%;
}

.single-blog a {
    width: 100px;
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin: 4px 8px;
    padding: 4px 8px;
    border: 2px solid var(--text-color-black);
    text-align: center;
    text-decoration: none;
    color: var(--text-color-black);
    background-color: var(--body-background-color);
    border-radius: 8px;
}

.single-blog a:hover {
    color: var(--body-background-color);
    background-color: var(--text-color-black);
}

.single-blog .match {
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-blog .match span {
    color: var(--text-color-black);
    font-size: 18px;
    font-weight: 700;
    margin: 4px 8px;
    padding: 4px 8px;
}

.single-blog h2 {
    font-size: 18px;
    font-weight: 600;
    margin: 4px 8px;
    padding: 4px 8px;
    text-align: center;
}

.single-blog h3 {
    color: #4D4D4D;
    font-size: 14px;
    font-weight: 400;
    margin: 4px 8px;
    padding: 4px 8px;
    text-align: center;
}

.icons {
    font-size: 16px;
    font-weight: 400;
    margin: 4px 8px;
    padding: 4px 8px;
}

.icons>span {
    margin-left: 4px;
}

.icons .fa-comment-dots {
    margin-left: 16px;
}

/* footer-area */
footer {
    background-color: var(--header-background-color);
    text-align: center;
}

footer>h1 {
    color: var(--text-color-white);
    font-size: 40px;
    font-weight: 600;
    padding-top: 48px;
    padding-bottom: 48px;
}

footer>hr {
    width: 80%;
    margin: 24px auto;
    height: 1px;
    background-color: #FFFFFF1A;
    border: none;
}

footer .important-links {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
}

footer .important-links a {
    color: var(--text-color-white);
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    margin: 16px 8px;
    padding: 12px;
    width: 180px;
}

footer .important-links a:hover {
    color: var(--button-color);
}

.social-medias {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.fa-brands {
    color: var(--text-color-white);
    font-size: 20px;
    font-weight: 400;
    margin: 16px 8px;
    padding: 12px;
}

/* view-all button invisible indesktop screen*/
@media screen and (min-width: 992px) {
    .view-all {
        display: none;
    }
}

/* responsiveness for tablets (less than 991px but greater than 768px) */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .banner {
        margin: 8px;
        padding: 16px;
    }

    .banner-title {
        font-size: 40px;
        margin: 8px;
        padding: 8px;
        line-height: 48px;
    }

    .banner-para {
        font-size: 14px;
        margin: 8px;
        padding: 8px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .banner-btn {
        font-size: 16px;
        margin: 8px;
        padding: 8px;
    }

    .blogs-area {
        grid-template-columns: 100%;
    }

    .blogs-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .match-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .options {
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: var(--text-color-white);
        margin: auto;
    }

    .options a {
        width: 33%;
        border: 1px solid #E8E8E8;
        text-align: center;
        font-size: 16px;
    }

    /* view-all button visible */
    .view-all {
        display: block;
        margin: 24px auto;
        padding: 8px 16px;
    }

    .invisible {
        display: none;
    }
}

/* responsiveness for landscape mobiles (less than 768px greater than 576px) */
@media screen and (min-width: 576px) and (max-width: 767px) {
    .banner {
        margin: 8px;
        padding: 16px;
    }

    .banner-title {
        font-size: 32px;
        margin: 8px;
        padding: 8px;
        line-height: 40px;
    }

    .banner-para {
        font-size: 14px;
        margin: 8px;
        padding: 8px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .banner-btn {
        font-size: 16px;
        margin: 8px;
        padding: 8px;
    }

    .blogs-area {
        grid-template-columns: auto;
    }

    .blogs-grid,
    .match-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .options {
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: var(--text-color-white);
        margin: auto;
    }

    .options a {
        width: 33%;
        border: 1px solid #E8E8E8;
        text-align: center;
        font-size: 16px;
    }

    /* view-all button visible */
    .view-all {
        display: block;
        margin: 24px auto;
        padding: 8px 16px;
    }

    .invisible {
        display: none;
    }
}

/* responsive for portrait mobile screen */
@media screen and (max-width: 575px) {
    .banner-area {
        width: 100%;
        margin: 8px auto;
        padding: 8px 8px;
        flex-direction: column;
        align-items: center;
    }

    .banner {
        width: 100%;
        margin: 8px;
        padding: 16px;
        text-align: center;
    }

    .banner-title {
        font-size: 24px;
        margin: 4px 0;
        padding: 4px;
        line-height: 24px;
    }

    .banner-para {
        font-size: 14px;
        margin: 4px;
        padding: 4px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .banner-btn {
        font-size: 16px;
        margin: 4px;
        padding: 4px;
        border-radius: 4px;
    }

    .banner-img {
        width: 100%;
    }

    .banner-img img {
        width: 100%;
    }

    .blogs-area {
        grid-template-columns: 100%;
    }

    .blogs-grid,
    .match-grid {
        grid-template-columns: 100%;
        width: 100%;
        gap: 16px 0;
        justify-content: center;
    }

    .options {
        width: 100%;
        background-color: var(--text-color-white);
        border-radius: 8px;
    }

    .invisible {
        display: none;
    }

    /* view-all button visible */
    .view-all {
        display: block;
        margin: 24px auto;
        padding: 8px 16px;
    }
}